# rest framework
Django==2.2.9
djangorestframework==3.10.0

# for access MySQL
PyMySQL==0.9.3

# redis cache
redis==2.10.5

# for access redis cache
# redisco==0.1.4
django-redis-cache==0.13.1

# for call rest api
httplib2==0.12.3

# for unit test
coverage==4.2
mock==3.0.5
unittest_xml_reporting==1.12.0

# for parser
# cryptography==2.0.3
# paramiko==2.0.2
# nfv-toscaparser>=0.5.0

# for swagger
ruamel.yaml==0.15.97
drf-yasg==1.17.0

# for the validation feature
flex>=6.11.1
swagger-spec-validator>=2.1.0

# for onap logging
onappylog==1.0.9

# uwsgi for parallel processing
# uwsgi
